# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
.pytest-tmp/
.pytest_cache/
.coverage
htmlcov/
env/
venv/
ENV/

# Database & Uploads
*.db
*.sqlite
*.sqlite3
uploads/*
!uploads/.gitkeep

# Node & Hardhat
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
artifacts/
cache/
typechain/
coverage/
coverage.json

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Log files
*.log
